    {{> head }}
    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Hola mi Princesa</h1>
        <p>
            Lala lalalalala lalala
        </p>
    </div>

    <div class="col-4">
        <img src="/assets/img/3a618b57911b37c61be08d9b06865571.jpg" class="img-thumbnail">
    </div>

</div>



  {{> footer}}